[Unit]
Description=device_home for xbee serial
After=network.target

[Service]
User=pi
Restart=no
Type=simple
# Required for pipenv
WorkingDirectory=/home/pi/home_commander/HC_programs/device_home_xbee
ExecStart=/usr/bin/python3 device_home_xbee.py

[Install]
WantedBy=multi-user.target